body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
    
  }
  
  nav ul li a {
    color: #28522e;
    text-decoration: none;
    
  }
  
  nav ul li a.activo {
    font-weight: bold;
  }
  
  main {
    padding: 20px;
  }
  
  .miJumbo {
    background-color: #99999927;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Cambiado a flex-start */
    text-align: left; /* Cambiado a left */
    border-radius: 18px;
  }
  .barra {
    /* Estilos personalizados para el input */
    background-color: #000000; /* Cambia el color de fondo */
    border: 1px solid #dbdbdb; /* Cambia el borde */
    padding: 8px; /* Cambia el espacio interno */
    font-size: 14px; /* Cambia el tamaño de la fuente */
    color: #dbdbdb; /* Cambia el color del texto */
    border-radius: 8px; /* Agrega bordes redondeados */
    box-shadow: none; /* Quita la sombra */
    /* Agrega más estilos según tus necesidades */
  }
  
  
  .miJumbo h1 {
    font-size: 24px;
    color: #dbdbdb;
    margin: 0; /* Añadido para quitar el margen predeterminado del h1 */
  }
  
  .miJumbo label {
    color: #dbdbdb;
    font-size: 14px;
    margin: 0; /* Añadido para quitar el margen predeterminado del label */
  }
  body {
    background-color: black;
}

  
  input[type="text"],
  input[type="button"] {
    margin: 5px;
    padding: 10px;
  }
  
  input[type="button"] {
    background-color: #28522e;
    color: #fff;
    border-radius: 8px;
    border: none;
    cursor: pointer;
  }
  